{
  "env":                               {
    "browser":                         true,
    "commonjs":                        true,
    "es6":                             true,
    "jest":                            true,
    "jquery":                          true,
    "node":                            true
  },
  "globals":                           {
    "IMatch":                          false,
    "IMatchTranslate":                 false,
    "IMWS":                            false,
    "JSX":                             "readonly",
    "ol":                              false
  },
  "parserOptions":                     {
    "ecmaFeatures":                    {
      "experimentalObjectRestSpread":  true,
      "jsx":                           true
    },
    "ecmaVersion":                     9,
    "sourceType":                      "module"
  },
  "rules":                             {
    "constructor-super":               "warn",
    "no-const-assign":                 "warn",
    "no-this-before-super":            "warn",
    "no-undef":                        "warn",
    "no-unreachable":                  "warn",
    "no-unused-vars":                  "off",
    "quotes":                          ["error","single", { "allowTemplateLiterals": true }],
    "semi":                            [ "error", "always"],
    "semi-style":                      ["error"],
    "valid-typeof":                    "warn"
  }
}