# Docker Volume
docker_volumes

# Dependency directories
node_modules/


# dotenv environment variables file
/.env
/server/.env
.env.test
.env.prod

# Ignore generated credentials from google-github-actions/auth
.firebase
gha-creds-*.json
