
RewriteEngine on
ErrorDocument 401 default
<Files 403.shtml>
order allow,deny
allow from all
</Files>
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^list\.quickdash\.co\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.list\.quickdash\.co\.uk$
RewriteRule ^(.*)$ "https\:\/\/list\.quickdash\.co\.uk\/$1" [R=301,L]

