.reactMarkDown table {
    margin: 2rem 5%;
    width: 90%;
}

.reactMarkDown a:link {
    text-decoration: none;
    color: #007bff;
}

.reactMarkDown a:visited {
    color: #28d14c;
}

.reactMarkDown a:active,
.reactMarkDown a:hover {
    color: black;
}

.reactMarkDown hr {
    border: 0;
    height: 1px;
    background-color: black;
}

.reactMarkDown code {
    background-color: lightgrey;
}