.reactMarkDown table {
    margin: 2rem 5%;
    width: 90%;
}

.reactMarkDown a:link {
    text-decoration: none;
    color: #08d2ff;
}

.reactMarkDown a:visited {
    color: #08ff98;
}

.reactMarkDown a:active,
.reactMarkDown a:hover {
    color: white;
}

.reactMarkDown hr {
    border: 0;
    height: 1px;
    background-color: white;
}