@charset "utf-8";

h1 {
  font-family: 'Dosis', sans-serif;
  font-display: auto;
}

.lg-font {
  font-size: 3.5em;
}

.jumbotron {
  padding-bottom: 2.5em !important;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.6em;
  }

  .lg-font {
    font-size: 3em !important;
    /* display:none; */
  }
}

@media only screen and (max-width: 568px) {
  h1 {
    font-size: 1.2em !important;
  }

  .jumbotron p {
    font-size: 1em !important;
  }

  .lg-font {
    font-size: 2em !important;
    /* display:none; */
  }
}

@media screen and (max-width: 768px) and (max-width: 568px) {
  .jumbotron {
    padding-top: 1.2em !important;
    padding-bottom: .5em !important;
  }
}

.button {
  display: inline-block;
  border: 1px solid #fff;
  height: calc(2.25rem + 2px);
  overflow: hidden;
}

.button.expand>* {
  display: block;
  height: 100%;
  padding-bottom: .5em;
  text-align: center;
  transition: margin 0.5s;
}

.button.expand:hover>span:nth-child(1) {
  margin-top: -1.5em;
}

.btn {
  font-size: 1.1em;
  cursor: move !important;
}

.fa-trash-alt, .fa-edit {
  cursor: pointer !important;
}

.edit {
  cursor: text !important;
}

.edit:hover {
  color: black;
  padding: .3em 1em;
  /* display: block; */
  background-color: white;
  border: 1px solid white;
  border-radius: .5em;
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  /* animation: shake 0.5s; */
  /* When the animation is finished, start again */
  /* animation-iteration-count: infinite; */
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* .quick {
  animation: shake 0.50s cubic-bezier(.36,.07,.19,.97) both !important;
} */
.hidden {
  display: none;
}
